@import '/src/shared/styles/variables';

.slider-wrapper {
  $prefix: noUi;
  background: transparent;
  border: none;
  border-radius: initial;
  box-shadow: none;

  .#{$prefix}-base {
    border-radius: 3px;
    border: 1px solid $dark-shade_25;
    height: 6px;
  }

  &__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark-shade_100;
  }

  & .-value {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;
    color: $dark-shade_50;
  }

  & .#{$prefix}-connect {
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border-radius: 3px;
  }

  & .#{$prefix}-handle {
    height: 16px;
    right: -8px;
    top: -6px;
    width: 16px;
    border: 2px solid #ffffff;
    border-radius: 100%;
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  & .#{$prefix}-touch-area {
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border-radius: 100%;
  }
}
