.pagination {
  display: flex;
  flex-flow: column nowrap;
  &__list {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 8px;
  }

  &__item {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: rgba(31, 32, 65, 0.5);
    user-select: none;

    &:not(:last-of-type) {
      margin-right: 33px;
    }

    &:last-of-type {
      margin-right: 12px;
    }

    &::before {
      display: inline-block;
      content: '';
      position: absolute;
      opacity: 0;
      width: 40px;
      height: 40px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 22px;
      z-index: -1;
    }

    &._current {
      color: white;
      &::before {
        opacity: 1;
      }
    }

    &:hover {
      color: white;
    }

    &:hover::before {
      opacity: 0.5;
    }
  }

  &__next {
    width: 40px;
    height: 40px;
    border: none;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border-radius: 22px;
    cursor: pointer;
    padding: 11px;

    &:hover {
      opacity: 0.5;
    }
  }

  &__footer {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    padding-left: 8px;
  }
}
