@mixin font-face(
  $font-family,
  $file-path,
  $weight: normal,
  $style: normal,
  $asset-pipeline: false
) {
  $path: '/src/assets/fonts/#{$file-path}/#{$font-family}';
  @font-face {
    font-family: $file-path;
    font-weight: $weight;
    font-style: $style;
    src: url('/src/assets/fonts/#{$file-path}/#{$font-family}.eot');
    src: local('☺'), url('/src/assets/fonts/#{$file-path}/#{$font-family}.woff') format('woff'),
      url('/src/assets/fonts/#{$file-path}/#{$font-family}.ttf') format('truetype'),
      url('/src/assets/fonts/#{$file-path}/#{$font-family}.svg') format('svg');
  }
}

@mixin font($font-name) {
  font-family: $font-name, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}