//- include /shared/views/Field/index.pug
//- include /shared/views/Checkbox/index.pug
include /shared/views/Button/index.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
  body
    h1 Hello world
    //- +Field({placeholder:"Email", label:"Text field"})
    //- +Field({placeholder:"Email", label:"Text field", type:"subscription"})
    //- +Like()
    //- .like-wrapper
    //- .slider-wrapper
    //- +Button({theme: 'none', isDisabled: false, size: 'default'})
    //- .pagination-wrapper
    input(type="text" name="foo").foo
    //- .foo
    //-   input(type="text" name="start")
    //-   span to 
    //-   input(type="text" name="end")
    .foosolo
      input(type="text")
    .rating-wrapper